:root {
  --colorNaranjaHeader: #fdc35a;
  --colorNaranjaFondoTextos: #ffd486;
  --colorNaranjaFooterYBotones: #f68035;
  --colorNaranjaFondoBarraListas: #fee1ac;
  --colorNaranjaFondoFormularios: #f5b27f;
  --colorVerdeFondo: #008f7a;
  --fuenteTextoTitulos: "Montserrat", sans-serif;
  --fuenteTextoCuerpo: "Hind", sans-serif;
  color: black;
  background-color: white;

}

body{
  font-family: var(--fuenteTextoCuerpo);
}

h1{
  font-family: var(--fuenteTextoTitulos);
  font-size: 20px;
}

h2{
  font-family: var(--fuenteTextoTitulos);
  font-size: 16px;
}

a{
  text-decoration: none;
  color: black;
}

nav{
  background-color: var(--colorNaranjaHeader);
}

footer{
  background-color: var(--colorNaranjaFooterYBotones);
  bottom: 0;
}

button{
  font-family: var(--fuenteTextoTitulos);
  background-color: var(--colorNaranjaFooterYBotones);
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
}

input{
  padding: 10px;
  border-radius: 8px;
  border: none;
}
p{
  margin: 0;
  padding: 0;
}

input:focus-visible {
  outline: 0;
}

form{
  background-color: var(--colorNaranjaFondoFormularios);
  border-radius: 8px;
}

textarea{
  border-radius: 4px;
  padding: 10px;
}

.nav-item{
  font-family: var(--fuenteTextoTitulos);
  text-align: center;
  margin: 5px;
}

.navbar-toggler{
  background-color: var(--colorVerdeFondo);
  border: none;
  outline: 0;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.search-button{
  padding: 10px 15px;
}

.fi{
  font-size: 24px;
  margin: 0 16px;
}

.searchNavbar{
  width: 160px;
}

.productCard{
  width: 260px;
}

.text-decoration-through{
  text-decoration: line-through;
}

.mision-container{
  background-color: var(--colorNaranjaFondoTextos);
  border-radius: 8px;
}

.dropdown-toggle{
  background-color: var(--colorVerdeFondo);
  min-width: 60px;
  width: 80%;
}

.bg-filters{
  background-color: var(--colorNaranjaFondoBarraListas);
}

.background-card{
  background-color: var(--colorNaranjaFondoFormularios);
  border-radius: 8px;
  text-align: center;
  padding: 12px 0;
  font-family: var(--fuenteTextoTitulos);
}

.oferta-card{
  background-color: var(--colorNaranjaFooterYBotones);
  border-radius: 4px;
  padding: 4px;
}

.form-check-input:checked {
  background-color: var(--colorVerdeFondo);
  border-color: var(--colorVerdeFondo);
}

.opinion{
  background-color: var(--colorNaranjaFondoTextos);
  border-radius: 8px;
}

.w-95{
  width: 95%;
}