:root {
  --colorNaranjaHeader: #fdc35a;
  --colorNaranjaFondoTextos: #ffd486;
  --colorNaranjaFooterYBotones: #f68035;
  --colorNaranjaFondoBarraListas: #fee1ac;
  --colorNaranjaFondoFormularios: #f5b27f;
  --colorVerdeFondo: #008f7a;
  --fuenteTextoTitulos: "Montserrat", sans-serif;
  --fuenteTextoCuerpo: "Hind", sans-serif;
  color: black;
  background-color: white;

}

body{
  font-family: var(--fuenteTextoCuerpo);
}

h1{
  font-family: var(--fuenteTextoTitulos);
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
}

nav{
  background-color: var(--colorNaranjaHeader);
}

footer{
  background-color: var(--colorNaranjaFooterYBotones);
  bottom: 0;
}

button{
  font-family: var(--fuenteTextoTitulos);
  background-color: var(--colorNaranjaFooterYBotones);
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
}

input{
  padding: 10px;
  border-radius: 8px;
  border: none;
}
p{
  margin: 0;
  padding: 0;
}

input:focus-visible {
  outline: 0;
}

.nav-item{
  font-family: var(--fuenteTextoTitulos);
  text-align: center;
  margin: 5px;
}

.navbar-toggler{
  background-color: var(--colorVerdeFondo);
  border: none;
  outline: 0;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.search-button{
  padding: 10px 15px;
}

.fi{
  font-size: 24px;
  margin: 0 16px;
}

.searchNavbar{
  width: 160px;
}

.productCard{
  width: 260px;
}

.text-decoration-through{
  text-decoration: line-through;
}

